* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  /**/
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.header__container {
  margin: auto;
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.header__right_cart-box {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right_cart-box:hover .cart-drop {
  display: block;
}

.pink {
  color: #f16d7f;
  font-weight: 900;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__img {
  width: 59px;
  height: 51px;
  margin-right: 13px;
}

.logo__text {
  margin-right: 37px;
  color: #222222;
  font-family: Lato;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.fas {
  color: #a4a4a4;
  font-weight: 400;
}

.header-form__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-drop {
  position: absolute;
  display: none;
  border-radius: 5px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 12px 25px 0 25px;
  top: 48px;
  z-index: 10;
}

.menu-drop::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  left: 45px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.menu-drop__head {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 0;
  margin: 0 0 8px 0;
}

.menu-drop__link {
  display: block;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 12px;
  padding: 8px 0;
}

.menu-drop__link:hover {
  color: #f16d7f;
}

.menu-drop__box {
  width: 235px;
  margin-right: 45px;
}

.menu-drop__box:last-of-type {
  margin-right: 0;
}

.menu-drop__sale {
  width: 255px;
  height: 118px;
  margin-left: -20px;
  position: relative;
}

.menu-drop__list {
  margin-bottom: 12px;
}

.menu-drop__sale-text {
  position: absolute;
  top: 60px;
  left: 175px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
}

.menu-drop__last {
  right: 0px;
}

.menu-drop__last::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  left: auto;
  right: 55px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.browse-button {
  position: relative;
  width: 87px;
  height: 38px;
  padding: 0 5px 0 15px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  line-height: 38px;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
}

.browse-button:hover {
  color: #f16d7f;
}

.browse-button:hover .menu-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browse-button:hover .menu-drop::before {
  left: 68px;
}

.browse-drop {
  top: 36px;
  left: 0;
}

.fa-caret-down {
  color: #fff;
  margin-left: 8px;
}

.triangle-grey {
  color: #838383;
}

.search {
  color: #222222;
  width: 317px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 13px 16px;
  outline: none;
}

.search::-ms-clear {
  display: none;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__button {
  width: 38px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.search__button:focus {
  outline: none;
}

.search__button:hover .fa-search {
  color: #f16d7f;
}

.pink__button {
  height: 38px;
  padding: 0 19px 0;
  margin-left: 26px;
  line-height: 38px;
  background-color: #f16d7f;
}

.pink__button-link {
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.cart {
  position: relative;
}

.cart__quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: #f16d7f;
  border-radius: 10px;
}

.cart__quantity-text {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  color: #ffffff;
}

.cart__img {
  width: 32px;
  height: 29px;
}

.cart-drop {
  display: none;
  top: 75px;
  left: -35px;
  padding: 20px 15px;
}

.menu-drop__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}

.menu-drop__product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-drop__product-box {
  margin-left: 15px;
}

.menu-drop__product-img {
  height: 85px;
}

.menu-drop__product-text {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 12px;
}

.menu-drop__product-rating {
  margin-bottom: 12px;
  font-size: 10px;
}

.menu-drop__product-rating .fas {
  color: #e4af48;
}

.menu-drop__product-price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 12px;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 35px;
}

.cart__total-text {
  color: #222222;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
}

.cart__total-sum {
  color: #222222;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
}

.menu-drop__checkout-button {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 50px;
  text-decoration: none;
  border: 1px solid #f16d7f;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

.menu-drop__checkout-button:hover {
  color: #fff;
  background-color: #f16d7f;
}

.menu-drop__cart-button {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 50px;
  text-decoration: none;
  border: 1px solid #eaeaea;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

.menu-drop__cart-button:hover {
  color: #fff;
  background-color: #f16d7f;
}

.action__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__button:hover .fa-times-circle {
  color: #f16d7f;
}

.menu {
  width: 100%;
  background-color: #ffffff;
}

.menu__container {
  margin: auto;
  width: 1140px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.menu__link {
  display: block;
  /**/
  padding: 20px 24px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
}

.menu__link_active {
  border-bottom: 3px solid #f16d7f;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.menu__item {
  position: relative;
}

.menu__item:hover .menu-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs {
  width: 100%;
  background-color: #f8f3f4;
}

.breadcrumbs__container {
  width: 1140px;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__head {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 20px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 12px;
  position: relative;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
  color: #f16d7f;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  color: #f16d7f;
  font-weight: 700;
}

.breadcrumbs__item:last-child .breadcrumbs__link::after {
  display: none;
}

.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 11px;
}

.breadcrumbs__link:hover {
  color: #f16d7f;
}

.breadcrumbs__link::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 7px;
  right: -17px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  border-top: 1px solid #111;
}

.promo {
  width: 100%;
  background-color: #e8e8e8;
  margin-bottom: 100px;
}

.promo__container {
  height: 615px;
  width: 1140px;
  margin: auto;
  background: url(../img/promo.jpg) -14px -50px no-repeat;
}

.promo__text-mini {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 32px;
}

.promo__text-big {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 43px;
  padding-bottom: 19px;
}

.promo__text {
  margin-top: 210px;
  float: left;
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
  /**/
}

.specials__container {
  width: 1140px;
  height: 823px;
  margin: auto;
}

.specials {
  width: 100%;
  margin-bottom: 100px;
}

.specials__link {
  position: relative;
  display: block;
  width: 560px;
  float: left;
  text-decoration: none;
}

.container__left {
  width: 580px;
  float: left;
  padding-right: 20px;
}

.specials__text-big {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.specials__text-mini {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.link__margin-bottom {
  margin-bottom: 20px;
}

.specials__text {
  position: absolute;
  top: 25px;
  height: 82px;
  padding: 16px 18px;
  background-color: #ffffff;
}

.grey {
  background-color: #dadad2;
  height: 260px;
  /*background: url(../img/pic_3.jpg) right top no-repeat #dadad2*/
}

.grey img {
  float: right;
}

.products__container {
  width: 1140px;
  margin: auto;
}

.products {
  width: 100%;
  margin-bottom: 113px;
}

.products__item {
  width: 260px;
  overflow: hidden;
  /*margin-right: 31px*/
  margin-bottom: 40px;
  /*vertical-align: top*/
  position: relative;
}

.products__item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.products__item:hover .products__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.products__item:hover .product__cart {
  visibility: visible;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.products__link-name {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 13px;
}

.products__link-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
  line-height: 16px;
}

.products__head {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding-bottom: 16px;
  line-height: 27px;
  text-align: center;
}

.products__text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 15px;
  text-align: center;
}

.products__top {
  margin-bottom: 60px;
}

.products__name {
  padding: 20px 15px;
}

.products__all-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__all-link {
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 17px 24px;
  line-height: 16px;
  text-decoration: none;
}

.logo__text {
  margin-right: 37px;
  color: #222222;
  font-family: Lato;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.banner {
  width: 100%;
  margin-bottom: 100px;
}

.banner__container {
  width: 1140px;
  height: 530px;
  margin: auto;
  background-color: #222224;
}

.banner__left {
  width: 767px;
  height: 530px;
  float: left;
  background: url(../img/banner.jpg) center center no-repeat;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.advantage__head {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}

.advantage__text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.banner__right {
  width: 373px;
  float: right;
  padding: 48px 36px;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
}

.advantage__item:last-child {
  margin-bottom: 0;
}

.cart__form {
  width: 32px;
  height: 29px;
}

.pink__button-link {
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.banner__text-big {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 40px;
  margin-bottom: 15px;
}

.banner__text-mini {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.9px;
  line-height: 25px;
}

.banner__text {
  margin: 145px 0 0 40px;
}

.pink700 {
  color: #f16d7f;
}

.advantage__description {
  width: 225px;
}

.advantage__pic {
  position: absolute;
  top: -5px;
}

.advantage__icon {
  position: relative;
}

.product__cart {
  position: absolute;
  top: 100px;
  left: 70px;
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  visibility: hidden;
}

.product__cart:hover {
  background-color: #f16d7f;
}

.subscribe__email {
  width: 282px;
  height: 45px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding: 17px 20px 18px 28px;
  border: none;
  outline: none;
}

.subscribe__button {
  display: block;
  width: 105px;
  height: 45px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  padding: 17px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 12px;
  -webkit-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

.subscribe__button:hover {
  color: #f16d7f;
  background-color: #ffffff;
}

.subscribe__text-big {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-transform-line-height: 20px;
  margin-bottom: 14px;
}

.subscribe__text-mini {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  letter-spacing-line-height: 12px;
}

.review__photo {
  width: 83px;
  height: 83px;
  margin-right: 28px;
}

.review__slider {
  width: 570px;
  height: 170px;
  margin: 112px 70px 0 0;
}

.review {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.rest__info {
  width: 100%;
  height: 438px;
  margin-bottom: 110px;
  background: url(../img/review_pic.jpg) center center no-repeat;
}

.rest__info-container {
  width: 1140px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe {
  width: 570px;
  height: 100%;
  border-left: 1px solid #fff;
}

.customer__review {
  color: #222224;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.customer__name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.4px;
  margin-top: 13px;
}

.customer__geo {
  color: #222224;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.review__slider-buttons {
  width: 140px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__button {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.pink__col {
  background-color: #f16d7f;
}

.subscribe__box {
  width: 387px;
  margin: 148px 0 0 92px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__text {
  margin-bottom: 35px;
  text-align: center;
}

.invisible {
  display: none;
}

.footer {
  width: 100%;
  height: 430px;
}

.footer__info {
  width: 100%;
  height: 350px;
  background-color: #fff;
}

.footer__info-right {
  width: 430px;
}

.footer__info-container {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__brand-text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 25px;
  padding-bottom: 25px;
}

.about__brand {
  margin-top: 30px;
}

.company__menu-link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.info__menu-link {
  display: block;
  padding: 10px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footer__info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  width: 200px;
  margin-left: 20px;
}

.footer__menu-head {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  line-height: 16px;
  margin-bottom: 45px;
  padding-left: 10px;
}

.info__menu-item:hover .info__menu-link {
  color: #f16d7f;
}

.footer__copywright {
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
}

.copywright__container {
  width: 1140px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copywright__text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  text-align: center;
  line-height: 32px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-left: 8px;
}

.social__item:hover .social__link {
  background-color: #f16d7f;
}

.social__item:hover .fab {
  color: #f7f7f8;
}

.product__cart-img {
  margin-right: 8px;
}

.fa-long-arrow-alt-right {
  margin-left: 10px;
  color: #fff;
  width: 16px;
}

.grey__color {
  background-color: #eeeeee;
}

.fa-facebook-f {
  color: #b2b2b2;
}

.fa-twitter {
  color: #b2b2b2;
}

.fa-pinterest-p {
  color: #b2b2b2;
}

.fa-google-plus-g {
  color: #b2b2b2;
}

.fa-linkedin-in {
  color: #d6d6d6;
}

.product {
  width: 100%;
}

.product__container {
  width: 1140px;
  margin: auto;
  margin-top: -86px;
  position: relative;
  z-index: 2;
}

.product__box {
  width: 100%;
  padding: 73px 247px 122px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.product__carousel {
  width: 100%;
  height: 777px;
  position: relative;
  background-color: #f7f7f7;
}

.product__description {
  width: 100%;
}

.carousel__container {
  width: 1140px;
  height: 690px;
  margin: auto;
  background-color: #f7f7f7;
}

.product__img {
  height: 100%;
  background: url(../img/product_img.jpg) center center no-repeat;
  background-size: auto 100%;
}

.carousel__controls {
  width: 47px;
  height: 47px;
  position: absolute;
  padding: 15px 19px;
  background-color: #d8d8d8;
}

.carousel__controls_left {
  top: 365px;
  left: 0;
}

.carousel__controls_right {
  top: 365px;
  right: 0;
}

.carousel__arrow {
  color: #fff;
}

.cart__button {
  width: 537px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f16d7f;
  background-color: #fff;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

.cart__button:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.cart__button:hover .pink__cart {
  background: url(../img/cart_white.svg) center center no-repeat;
}

.pink__cart {
  width: 26px;
  height: 24px;
  margin-right: 15px;
  background: url(../img/cart_pink.svg) center center no-repeat;
}

.product__features {
  width: 645px;
  text-align: center;
  padding-bottom: 43px;
  border-bottom: 1px solid #eaeaea;
}

.price {
  margin: 37px auto 0;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
}

.collection__name {
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.product__name {
  margin: 34px auto 67px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 15px;
}

.material {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin-right: 22px;
}

.product__text {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 28px;
}

.dark__grey {
  color: #2f2f2f;
}

.designer {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin-left: 22px;
}

.product__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.long {
  width: 642px;
}

.pink__line {
  width: 63px;
  height: 3px;
  position: absolute;
  background-color: #ef5b70;
  top: 25px;
}

.choose__text {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin: 0 22px 15px 0;
}

.choose__block {
  width: 537px;
  margin: 63px auto 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.color__form {
  position: relative;
}

.color__form::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  z-index: 1;
}

.choose__list {
  width: 144px;
  height: 35px;
  position: relative;
  border: 1px solid #eaeaea;
  padding: 8px 13px 10px 33px;
  text-transform: capitalize;
  color: #bcbcbc;
  cursor: pointer;
  outline: none;
}

.choose__list-arrow {
  position: absolute;
  top: 11px;
  right: 7px;
  background-color: #fff;
  font-size: 10px;
}

.size__form {
  position: relative;
}

.size__list {
  width: 144px;
  height: 35px;
  position: relative;
  border: 1px solid #eaeaea;
  padding: 8px 13px 10px 13px;
  text-transform: capitalize;
  color: #bcbcbc;
  cursor: pointer;
  outline: none;
}

.quantity__input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  padding: 10px 13px;
  color: #bcbcbc;
  cursor: pointer;
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}

.cart__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__products {
  width: 100%;
}

.more__products-container {
  width: 1140px;
  margin: 120px auto 75px;
  text-align: center;
}

.more__products-head {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 72px;
}

.products__item {
  width: 260px;
  overflow: hidden;
  /*margin-right: 31px*/
  margin-bottom: 35px;
  /*vertical-align: top*/
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.products__item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}

.products__item:hover .products__link-img {
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
}

.products__item:hover .product__hover_cart {
  visibility: visible;
}

.products__item:hover .product__hover_switch {
  visibility: visible;
}

.products__item:hover .product__hover_like {
  visibility: visible;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.products__link-img {
  display: block;
  width: 260px;
  height: 280px;
}

.products__link-name {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 13px;
}

.products__link-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
  line-height: 16px;
}

.products__name {
  padding: 20px 15px;
}

.product__hover_cart {
  position: absolute;
  top: 100px;
  left: 70px;
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  visibility: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.product__hover_cart:hover {
  background-color: #f16d7f;
}

.product__hover_cart:active {
  color: #f16d7f;
  background-color: #ffffff;
}

.product__hover_cart-img {
  margin-right: 8px;
}

.product__hover_switch {
  position: absolute;
  top: 148px;
  left: 70px;
  width: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  visibility: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.product__hover_switch:hover {
  background-color: #f16d7f;
}

.product__hover_switch::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 12px;
  top: 13px;
  left: 17px;
  background-image: url("../img/recycle.svg");
}

.product__hover_like {
  position: absolute;
  top: 148px;
  left: 137px;
  width: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  visibility: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.product__hover_like:hover {
  background-color: #f16d7f;
}

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative; }

.error-block {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center; }

.close-btn {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  top: -30px;
  position: absolute;
  right: -30px;
  background: none;
  border: none;
  color: white;
  font-weight: bold; }

.close-btn:active {
  border: 1px white; }
/*# sourceMappingURL=product.css.map */