@import 'variables'

=button-pink
    display: block
    padding: 20px 40px 18px
    color: $dark-grey
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    line-height: 11px
    border: 1px solid $border-grey
    background-color: #ffffff
    cursor: pointer
    -webkit-transition: color, background-color 0.3s
    transition: color, background-color 0.3s
    &:hover
        color: #fff
        background-color: $pink
        border-color: $pink